{% extends "base.html" %}
{% load static %}

{% block title %}Movies - MyMovies{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}

{% block content %}

<h1 class="page-title">Now Playing</h1>

<div class="movie-grid">
    {% for movie in movies %}
        <div class="movie-card">
            <img src="https://image.tmdb.org/t/p/w300{{ movie.poster_path }}" class="poster">

            <div class="movie-overlay">
                <h3>{{ movie.title }}</h3>

                <div class="actions">
                    <a href="{% url 'toggle_favorite' movie.id %}?title={{ movie.title|urlencode }}&poster_path={{ movie.poster_path|urlencode }}&release_date={{ movie.release_date }}">
                        {% if movie.user_data.favorite %}
                            ❤️
                        {% else %}
                            🤍
                        {% endif %}
                    </a>

                    <a href="{% url 'set_status' movie.id 'will_watch' %}?title={{ movie.title|urlencode }}&poster_path={{ movie.poster_path|urlencode }}&release_date={{ movie.release_date }}">
                        {% if movie.user_data.status == 'will_watch' %}✔{% else %}✔{% endif %}
                    </a>

                   <a href="{% url 'set_status' movie.id 'watched' %}?title={{ movie.title|urlencode }}&poster_path={{ movie.poster_path|urlencode }}&release_date={{ movie.release_date }}">
                        {% if movie.user_data.status == 'watched' %}🎬{% else %}👁️{% endif %}
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}
